html {
    max-width: 950px;
    margin: auto;
      
  }

/*body*/
body{
    background-color: whitesmoke;
    max-width: 500em;
    margin: 10px;
  padding: 5px;
  text-align: center;
  color: black
}

/*main*/
main{
    margin: 0.6em;
    padding: 10px;
    text-align: left;
    color: black;
    font-size: 15px;
    text-align: left;
    border-style: solid ;
    border-color: #8D94BA;
}

main h1{
  text-align: center;
  margin: 0.6em;
  padding: 5px;
  background-color: #AEC5EB ;
  font-size: 20px;
}

main p{
  text-align: center;
  
}



/*footer*/
footer{
  margin: 20px;
  text-align: center;
  padding: 10px;
  color: black;
 
 

}
/*nav*/

nav{
  text-align: center;
}
nav a {
  
  text-decoration: none;
  color: black;
  padding: 5px
 
}
a:hover {
  background-color: #FFEBE7;
}





  /*header*/
header h1{
    text-align: center;
    padding:5px;
}

