html {
    max-width: 950px;
    margin: auto;
      
  }

/*body*/
body{
    background-color: whitesmoke;
    max-width: 500em;
    margin: 10px;
  padding: 5px;
  text-align: center;
  color: black
}

/*main*/
.index{
    margin: 0.6em;
    padding: 10px;
    color: black;
    font-size: 15px;
   
}

 .index section{
  text-align: center;
  margin: 0.6em;
  padding: 5px;
  border-style: groove;
  border-color:  #8D94BA;
  font-size: 20px;
}

 .index p{
  text-align: center;
  
}

.become{
  font-family: 'Cairo', sans-serif;
  border: solid;
  border-color: #7EBDC2;
  margin: 0.6em;
  padding: 10px;
  color: black;
  font-size: 20px;
  width: 900px;
 
}

/*footer*/
footer{
  margin: 20px;
  text-align: center;
  padding: 10px;
  color: black;
 
 

}
/*nav*/

nav{
  text-align: center;

}
.indexlinks a {
  text-decoration: none;
  color: black;
}

nav a {
  
  text-decoration: none;
  color: black;
  padding: 5px
 
}
nav a:hover {
  background-color: #FFEBE7;
}

.indexlinks a:hover{
  background-color: #7EBDC2;
}



  /*header*/
header h1{
    text-align: center;
    padding:5px;
}

